.menu {
	position: relative;

	&__dropdown {
		display: none;
	}

	&--open &__dropdown {
		display: block;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__trigger:hover {
		cursor: pointer;
	}

	&__dropdown {
		position: absolute;
		background-color: white;
		box-shadow: 0 0 2px 1px #afafaf;
		border-radius: 3px;
		top: 45px;
		right: 0;
	}

	&__item {
		white-space: nowrap;
		padding: 8px;
	}

	&__item:hover {
		background-color: #dbdbdb;
	}

	&__item a {
		display: block;
	}

	&__divider {
		display: block;
		height: 1px;
		background-color: #dbdbdb;
	}

}