$color-clouds: #ecf0f1;
$color-asbestos: #7f8c8d;

.panel {
	background-color: $color-clouds;
	box-shadow: 0 0 2px 1px darken($color-asbestos, 20%);
	font-size: 2rem;
	border-radius: 1px;

	&__header {
		padding: 10px 15px;
		border-bottom: 1px solid $color-asbestos;
	}

	&__body {
		padding: 15px;
		font-size: 0.8em;
	}
}