@import '../../../styles/helpers/breakpoints';

.panel {
	background-color: #fff;
	border: 1px solid #dbdbdb;
	font-size: 2rem;
	border-radius: 1px;
	margin-bottom: 20px;

	&__header {
		padding: 12px 15px;
		border-bottom: 1px solid #dbdbdb;
		line-height: 1.2;
	}

	&__body {
		padding: 15px;
		font-size: 0.8em;
	}

	@media screen and (max-width: $bp-xs-max) {
		&__body {
			padding: 0;
		}
	}
}