@import '../../../styles/vendor/mq';

$confirm-btn-height: 80px;
$color-nephritis: #27ae60;
$color-alizarin: #e74c3c;
$color-peter-river: #3498db;

.answer-controller {
	height: 100%;
	font-size: 8rem;
	text-align: center;
	position: relative;
	padding-bottom: 100px;

	&__control {
		// height: calc(100% - 100px);
		position: absolute;
		top: calc(50% - #{$confirm-btn-height / 2});
		transform: translateY(-50%);
	}

	&__control--true-false {
		width: 100%;
	}

	&__control--multiple {
		width: calc(100% - 30px);
	}

	&__control &__control-option {
		background-clip: content-box;
		padding: 20px 10px;
	}

	&__control &__control-option:hover {
		cursor: pointer;
	}

	&__control &__control-option--selected {
		box-shadow: 0 0 0 3px black inset;
	}

	&__control-option[data-value="true"] {
		background-color: $color-nephritis;
	}

	&__control-option[data-value="false"] {
		background-color: $color-alizarin;
		color: white;
	}

	&__confirm-btn {
		font-size: 0.5em;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: $confirm-btn-height;
		width: 100%;
	}

	&__confirm-btn:hover, &__confirm-btn:active {
		cursor: pointer;
		background-color: $color-peter-river;
		color: white;
	}

	@include mq($until: tablet) {
		font-size: 4rem;
	}
}
