.site-header {
	font-size: 2rem;
	padding: 10px 0;
	border-bottom: 1px solid #dbdbdb;
	position: fixed;
	width: 100%;	
	height: 50px;
	top: 0;
	background-color: #fff;

  &__logo {
		font-size: 2.5em;
  }
}