.site-header {
	font-size: 2rem;
	padding: 10px 0;
	border-bottom: 1px solid #dbdbdb;
	position: fixed;
	width: 100%;	
	height: 50px;
	top: 0;
	background-color: #fff;

  &__logo {
  	float: left;
  }

  &__nav {
		float: right;
  }

  &__nav ul {
		list-style: none;
		margin: 0;
  }

  &__nav li {
		display: inline-block;
  }

   &__nav li:not(:last-child) {
		margin-right: 15px;
  }

  &__nav li a {
  	color: inherit;
		text-decoration: none;
  }
}