{{!-- <h1>I am the game master</h1>
<p id="game-id">Game ID: </p>
<ul id="game-participants">
    <li>Game participants: </li>
</ul>
<button id="btn-game-start">Start Game</button> --}}
<div id="game-master"></div>
<script src="/js/vendor.bundle.js"></script>
<script src="/js/master.bundle.js"></script>